:root {
    --blanco: #D9D9D9;
    --morado: #7916ac;
    --dorado: #F28705;
    --gris: #8C827D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Trebuchet MS';
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(./static/img/fondo.jpg);
    background-size: cover;
    background-position: center;
}


header,
main,
footer {
    grid-column-start: 1;
    grid-column-end: -1;
}

header,
footer {
    color: var(--blanco);
    background-color: var(--morado);
}


header {
    padding: 10px 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
}

.header-search input[type="submit"] {
    width: 75px;
    height: 35px;

    color: var(--morado);

    background-color: var(--dorado);
    border: none;
}

main {
    padding: 30px;
}

main section {
    height: 100%;
}




/* Estilos para la sección de búsqueda */
.buscar {
    text-align: center;
    padding: 20px;
    background-color: rgba(125, 255, 255, 0.479);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/* Estilos para el campo de búsqueda */
.buscar input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #e0d0d8;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}

/* Estilos para el botón de búsqueda */
.buscar button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--morado);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buscar button[type="submit"]:hover {
    background-color: var(--dorado);
}







.formulario {
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.title-formulario{
    padding: 5px 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--morado);
}

.formulario h2 {
    font-size: 2rem;
    color: var(--dorado);
}

.formulario form {
    padding: 10px;

    width: 42%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background-color: #d9d9d9c0;
    
}

fieldset {
    padding: 5px;
    color: var(--morado);
    border: none;
}



.form-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el label */
.form-img label {
    font-size: 16px;
    margin-bottom: 10px;
    background-color: var(--blanco);
    width: 200px;
    height: 50px;
    
}

/* Estilos para el input de carga de imágenes */
.form-img input[type="file"] {
    border: none;
    padding: 8px;
    font-size: 14px;
    background-color:  var(--morado);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-img input[type="file"]:hover {
    background-color: var(--morado);
}

.form-img input[type="file"]:focus {
    outline: none;
}

/* Estilos para ocultar el input de carga de imágenes */
.form-img input[type="file"] {
    display: none;
}

/* Estilos para mostrar la imagen seleccionada */
.selected-image {
    display: block;
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
}


.form-field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-field input[type="number"]{
    -moz-appearance: textfield;
    appearance: textfield;
    -webkit-appearance:textfield;
    appearance: textfield;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.form-field input  {
  
    border: none;
    border-bottom: 2px solid #333;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    color:  var(--morado);
    transition: border-bottom-color 0.3s ease;
    width: 100%;
}

.form-field input:hover {
    border-bottom-color: var(--morado);
}
.form-field input:focus {
    outline: none;
    border-bottom-color: var(--dorado);
}

.form-field input::placeholder {
    color: var(--morado);
}
.input-icon {
    position: relative;
}
.input-icon input {
    padding-left: 40px;
}
.input-icon .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--morado);
}


.form-buttons input[type="reset"] {
    color: var(--morado);
    border: none;
}


.form-buttons input[type="submit"]
{ 
    color: var(--blanco);
    border: none;
}


.form-buttons input[type="submit"] {
    background-color: var(--morado);
}

.form-buttons input[type="reset"] {
    background-color: var(--blanco);
}

.main-inventario {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-inventario h2 {
    font-size: 3rem;
}

.inventario-title {

    padding: 5px 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--dorado);
    background-color: var(--morado);
}

.inventario-container {

    padding: 30px;
    width: 100%;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    overflow-y: scroll;
}



.inventario-item {

    padding: 10px;
    min-width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 5px;
    background-color: var(--blanco);
}

.inventario-item h3{
    color: var(--gris);
}

.inventario-item span{
    color: var(--morado);
}

.item-img {
    width: 100%;
    max-width:200px;
    height: 100%;
    min-height:100px
}

.item-descripcion h3 {
    font-size: 2rem;
}

.item-descripcion span {

    font-size: 1.5rem;

}

.item-botones {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    gap: 5px;
}

.item-botones button {
    width: 75px;
    height: 35px;
}



.botones-editar{
    color: var(--blanco);

    background-color: var(--morado);
    border: none;
}

footer {
    padding: 10px 3%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

footer section {
    width: 45%;
    display: flex;
    justify-items: flex-start;
    align-items: flex-end;
    gap: 10px;
}

footer>section>h3 {
    font-size: 2rem;
}

footer>section>span {
    font-size: 1.5rem;
}