:root {
    --blanco: #D9D9D9;
    --negro: #1D2614;
    --dorado: #F28705;
    --cafe: #8C3503;
    --gris: #8C827D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    background-size: contain;
    background-image: url(./static/img/perfume-fondo.jpg);
}

header,
main,
footer {
    grid-column-start: 1;
    grid-column-end: -1;
}

header,
footer {
    color: var(--blanco);
    background-color: var(--negro);
}


header {
    padding: 10px 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 2rem;
}

.header-search {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;

    font-size: 1.5rem;
}

.header-search input[type="submit"] {
    width: 75px;
    height: 35px;

    color: var(--blanco);

    background-color: var(--dorado);
    border: none;
}

main {
    padding: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

main section {
    height: 100%;
}

.main-form {

    padding: 10px;

    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

}


.form-title {

    padding: 5px 10%;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--negro);
}

.main-form h2 {

    font-size: 2rem;
    color: var(--dorado);

}

.main-form form {

    padding: 5% 2%;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 1.5rem;

    background-color: var(--negro);

}

fieldset {
    padding: 5px;

    color: var(--blanco);

    border: none;
}

.form-field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-field input[type="number"]{
    -moz-appearance: textfield;
    appearance: textfield;
    -webkit-appearance:textfield;
    appearance: textfield;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.form-buttons input {
    width: 75px;
    height: 35px;
}

.form-buttons input[type="submit"],
.form-buttons input[type="reset"] {
    color: var(--blanco);
    border: none;
}


.form-buttons input[type="submit"] {
    background-color: var(--dorado);
}

.form-buttons input[type="reset"] {
    background-color: var(--cafe);
}

.main-inventario {
    padding: 10px;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.main-inventario h2 {
    font-size: 3rem;
}

.inventario-title {

    padding: 5px 10%;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color:var(--dorado);

    background-color: var(--negro);
}

.inventario-container {

    padding: 30px;

    width: 100%;
    max-height: 500px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;

    overflow-y: scroll;

}

.inventario-item {

    padding: 10px;

    min-width: 200px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 5px;

    background-color: var(--negro);
}

.inventario-item h3{
    color: var(--dorado);
}

.inventario-item span{
    color: var(--blanco);
}

.item-img {
    width: 100%;
    height: 100%;
}

.item-descripcion h3 {
    font-size: 2rem;
}

.item-descripcion span {

    font-size: 1.5rem;

}

.item-botones {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    gap: 5px;
}

.item-botones button {
    width: 75px;
    height: 35px;
}

.botones-eliminar{
    color:var(--blanco);

    background-color: var(--cafe);
    border: none;
}

.botones-editar{
    color: var(--negro);

    background-color: var(--blanco);
    border: none;
}

footer {
    padding: 10px 3%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

footer section {
    width: 45%;
    display: flex;
    justify-items: flex-start;
    align-items: flex-end;
    gap: 10px;
}

footer>section>h3 {
    font-size: 2rem;
}

footer>section>span {
    font-size: 1.5rem;
}